<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img
    src="../assets/primary.jpg"
    alt=""
    class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center"
  />
  <svg
    viewBox="0 0 1097 845"
    aria-hidden="true"
    class="hidden transform-gpu blur-3xl sm:absolute sm:-top-10 sm:right-1/2 sm:-z-10 sm:mr-10 sm:block sm:w-[68.5625rem]"
  >
    <path
      fill="url(#10724532-9d81-43d2-bb94-866e98dd6e42)"
      fill-opacity=".2"
      d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z"
    />
    <defs>
      <linearGradient
        id="10724532-9d81-43d2-bb94-866e98dd6e42"
        x1="1097.04"
        x2="-141.165"
        y1=".22"
        y2="363.075"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#776FFF" />
        <stop offset="1" stop-color="#FF4694" />
      </linearGradient>
    </defs>
  </svg>
  <svg
    viewBox="0 0 1097 845"
    aria-hidden="true"
    class="absolute left-1/2 -top-52 -z-10 w-[68.5625rem] -translate-x-1/2 transform-gpu blur-3xl sm:top-[-28rem] sm:ml-16 sm:translate-x-0"
  >
    <path
      fill="url(#8ddc7edb-8983-4cd7-bccb-79ad21097d70)"
      fill-opacity=".2"
      d="M301.174 646.641 193.541 844.786 0 546.172l301.174 100.469 193.845-356.855c1.241 164.891 42.802 431.935 199.124 180.978 195.402-313.696 143.295-588.18 284.729-419.266 113.148 135.13 124.068 367.989 115.378 467.527L811.753 372.553l20.102 451.119-530.681-177.031Z"
    />
    <defs>
      <linearGradient
        id="8ddc7edb-8983-4cd7-bccb-79ad21097d70"
        x1="1097.04"
        x2="-141.165"
        y1=".22"
        y2="363.075"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#776FFF" />
        <stop offset="1" stop-color="#FF4694" />
      </linearGradient>
    </defs>
  </svg>
  <div class="mx-auto max-w-7xl px-6 lg:px-8 flex justify-center p-48">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h1
        class="tracking-wide font-grind text-7xl text-center font-bold tracking-tight text-white sm:text-9xl"
      >
        Scu<span class="text-red-600">t</span>ellaria
      </h1>
    </div>
  </div>
</div>

<section class="relative py-16 bg-slate-900">
  <div class="w-full mb-12 px-4">
    <!-- Title -->
    <h1
      class="tracking-wide font-grind text-center font-semibold text-lg text-white sm:text-7xl"
    >
      Scores <span class="text-red-600">T</span>ables
    </h1>

    <!-- Table -->
    <div
      class="mt-8 relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-slate-600 text-white"
    >
      <div class="block w-full overflow-x-auto">
        <table class="items-center w-full bg-transparent border-collapse">
          <!-- Table header -->
          <thead>
            <tr>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-700 text-slate-100 border-slate-700"
              >
                Username
              </th>

              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-700 text-slate-100 border-slate-700"
              >
                Score
              </th>
              <th
                class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-slate-700 text-slate-100 border-slate-700"
              ></th>
            </tr>
          </thead>

          <!-- Table content -->
          <tbody>

            <!-- ---------------------------------------------------------------------- -->

            <!-- TODO: Loop starts here -->
            <tr *ngFor="let user of scoreList">
              <th
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
              >
                <!-- TODO: Username aqui -->
                <span class="ml-3 font-bold text-white"> {{user.nickname}} </span>
              </th>
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
              >
                <div class="flex items-center">
                  <!-- TODO: Pts here -->
                  <span class="mr-2">{{user.score}}</span>
                  <mat-progress-bar mode="determinate" value="{{user.score}}" color="danger"></mat-progress-bar>

                </div>
              </td>
            </tr>


                        <!-- ----------------------------------------------------------------------------------------------------------- -->

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Footer w info -->
  <footer class="relative pt-8 pb-6 mt-8">
    <div class="container mx-auto px-4">
      <div
        class="flex flex-wrap items-center md:justify-between justify-center"
      >
        <div class="w-full md:w-6/12 px-4 mx-auto text-center">
          <div class="text-sm text-slate-500 font-semibold py-1">
            Scutellaria® 2023
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
